[user]
    email = erik@erik-j.de
    name = Erik Derohanian
[color]
    ui = true
[core]
    editor = vim
[push]
    default = simple
[url "git@github.com:"]
    insteadOf = https://github.com/
[alias]
    bclean = "!f() { git fetch -p ; git branch --merged | egrep -v '(^\\*|master|dev)' | xargs git branch -d ; }; f"
    all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
    lastcommit = show --name-status HEAD
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
